@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
:root .bg-rolle {
  --primary-color: #000;
  --color-main: #000;
  --side-nav-item-active-color: transparent;
  --nav-tab-bg-color: var(--color-main);
  --nav-link-bg-color: var(--color-main);
  --dropdown-item-hover-bg-color: var(--color-main);
  --card-border-color: transparent;
  --input-border-color: transparent;
  --pagination-link-border-color: transparent;
}

.bulk-select * {
  color: #fff !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus {
  border-color: var(--color-main) !important;
}

body,
html,
body *:not(.fa):not(.fas) {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-brand {
  display: flex;
  gap: 10px;
}

.side-nav-item.active i::before {
  color: var(--color-main) !important;
}

.btn-primary:hover i::before,
.side-nav-item.active:hover i::before {
  color: #fff !important;
}

.btn-primary {
  display: flex;
  gap: 5px;
  font-size: 16px;
  align-items: center;
}

app-library {
  display: grid;
  gap: 50px;
  padding: 20px;
}

.card {
  border-radius: 0 !important;
}

.card img {
  border-radius: 0 !important;
}

body .section-title {
  margin-left: 0 !important;
  margin-bottom: 15px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.swiper-slide {
  margin: 0 !important;
}

.swiper-wrapper {
  gap: 10px !important;
}

.btn-secondary {
  background: transparent !important;
  border-color: transparent !important;
  color: var(--color-main) !important;
}

h2[title] {
  font-weight: 700 !important;
}

.companion-bar h2 {
  font-weight: 700 !important;
  font-size: 22px !important;
  margin-bottom: 20px !important;
}

.side-nav {
  border-radius: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
}

.drawer-container,
.reading-bar {
  box-shadow: none !important;
}

.reading-bar .btn > i + span {
  opacity: 0;
  transition: all 200ms;
  font-size: 14px;
  margin-top: 8px;
}

.reading-bar button {
  border: 0 !important;
}

.reading-bar .btn:hover > i + span {
  opacity: 1;
}

body .p-2 {
  padding: 0 !important;
}

h3,
.h3 {
  font-size: 20px !important;
  margin-bottom: 15px !important;
}

@media (min-width: 576px) {
  .companion-bar:not(.companion-bar-content) {
    margin-left: 60px !important;
    margin-top: 20px !important;
  }

  body .companion-bar.companion-bar-content {
    margin-left: 220px;
  }
}

.dark-mode .drawer-container *:not(.progress-bar),
.dark-mode .drawer-container,
.dark-mode,
.dark-mode *:not(code),
.dark-mode *:not(a) {
  background-color: #0d1117 !important;
}

.dark-mode .btn-close {
  filter: none !important;
}

/* Better grid */
.row.g-0.mt-2.mb-2 {
  display: grid !important;
  margin: 0 !important;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}

.row.g-0.mt-2.mb-2 .card,
.row.g-0.mt-2.mb-2 .card-overlay,
.row.g-0.mt-2.mb-2 .card img {
  aspect-ratio: 158 / 230;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
}

.overlay {
  height: auto !important;
}

.row.g-0.mt-2.mb-2 .col-auto {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 0 !important;
}

.card-title {
  width: 90% !important;
}

.card-actions {
  bottom: -5px !important;
  top: unset !important;
}

@media (max-width: 1500px) {
  .row.g-0.mt-2.mb-2 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 760px) {
  .row.g-0.mt-2.mb-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

body .pagination {
  margin: 40px 0;
}

.disabled {
  opacity: .3;
}

app-metadata-filter + .d-flex > [role="navigation"] {
  margin-top: 0 !important;
  opacity: 0 !important;
  height: 20px !important;
  margin-bottom: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}

/* Book metadata view */
app-series-metadata-detail .row,
app-series-metadata-detail .row.g-0.mt-2.mb-2 {
  display: block !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  max-width: 800px !important;
}

app-series-metadata-detail h5 {
  margin-bottom: 8px !important;
  font-weight: 500 !important;
  margin-top: 40px !important;
}